<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Customer Automation Test Suite" parallel="false" thread-count="1" verbose="2">
    <test name="Login and Transactions Test">
        <classes>
            <class name="com.example.runners.TestNGRunner"/>
        </classes>
    </test>
</suite>
